.buttonNoBorde {
  border: none;
  font: 18px;
  padding-top: 1.5rem;
}
.botonesHeader {
  align-items: flex-end;
  margin-left: 62rem;
}
.selectProfession,
.selectCity,
.datePicker {
  text-align-last: center;
  min-width: 10rem;
  padding: 0.5rem;
}
.professionalFinder {
  width: 25rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;
}
.professionalFinderResult > * {
  padding-bottom: 1rem;
  margin-left: 0.7rem;
  padding: 0.3rem;
  flex: 1 1 300px;
}
.creditCard {
  display: flex;
  flex-direction: column;
}

.contentIndex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.CreateEvent div {
  display: block;
}
.inputCreditCard {
  text-align: center;
}
@media (min-width: 360px) {
  .professionalFinder {
    width: 18rem;
  }
  .eventCardDate {
    margin-left: 10px;
  }
  .botonesHeader {
    margin-left: 0;
  }
  .pastEvent {
    padding-right: 3rem;
    font-size: 10px;
  }
  .pastEvent div ul {
    width: 1rem;
    justify-content: center;
  }

  .containerMyEvents {
    padding-top: 1rem;
    margin: 0 auto;
    overflow: hidden;
  }
  .nextEvent {
    padding-left: 1rem;
    padding-right: 2rem;

    font-size: 10px;
  }
  .nextEvent > h2 {
    font-size: 10px;
  }
  .nextEvent > h1 {
    font-size: 10px;
  }
  .pastEvent > h2 {
    margin-right: 20px;
    font-size: 8px;
  }
}
@media (min-width: 320px) {
  .professionalFinder {
    width: 18rem;
  }
  .eventCardDate {
    margin-left: 10px;
  }
  .botonesHeader {
    margin-left: 0;
  }
  .pastEvent {
    padding-right: 3rem;
    font-size: 10px;
  }
  .inputCreditCard {
    height: 2rem;
  }
  .creditCard > button {
    max-width: 14rem;
    padding-left: 4rem;
  }

  .containerMyEvents {
    padding-top: 1rem;
    margin: 0 auto;
    overflow: hidden;
  }
  .nextEvent {
    padding-left: 1rem;
    padding-right: 2rem;

    font-size: 10px;
  }
  .nextEvent > h2 {
    font-size: 10px;
  }
  .nextEvent > h1 {
    font-size: 10px;
  }
  .pastEvent > h2 {
    margin-right: 20px;
    font-size: 9px;
  }
  .pastEvent div ul {
    width: 0rem;
    justify-content: space-evenly;
  }
}

@media (min-width: 414px) {
  .professionalFinder {
    width: 18rem;
  }
  .eventCardDate {
    margin-left: 10px;
  }
  .botonesHeader {
    margin-left: 0;
  }
  .pastEvent {
    padding-right: 3rem;
    font-size: 10px;
  }
  .pastEvent div ul {
    width: 1rem;
    justify-content: center;
  }

  .containerMyEvents {
    padding-top: 1rem;
    margin: 0 auto;
    overflow: hidden;
  }
  .nextEvent {
    padding-left: 1rem;
    padding-right: 2rem;

    font-size: 10px;
  }
  .nextEvent > h2 {
    font-size: 10px;
  }
  .nextEvent > h1 {
    font-size: 10px;
  }
  .pastEvent > h2 {
    margin-right: 20px;
    font-size: 8px;
  }
}

@media (min-width: 768px) {
  .containerMyEvents {
    margin-bottom: 6px;
  }
  .botonesHeader {
    width: fit-content;
    margin-left: 31.8rem;
  }

  .botonesHeader > button {
    font-size: 1.2rem;
  }
  .botonesHeader > a button {
    font-size: 1.2rem;
  }
}
@media (min-width: 1024px) {
  .botonesHeader {
    width: fit-content;
    margin-left: 47.8rem;
  }
  .professionalFinder {
    width: 27rem;
    padding-top: 4rem;
  }
  .selectProfession,
  .selectCity,
  .datePicker {
    text-align-last: center;
    min-width: 15rem;
    padding: 0.5rem;
  }
}

@media (min-width: 1280px) {
  .botonesHeader {
    width: fit-content;
    margin-left: 63.8rem;
  }
  .pastEvent {
    padding-right: 0rem;
    font-size: 13px;
  }
}
