.containerMyEvents {
  padding-top: 1rem;
  margin: 0 auto;
}
.nextEventh {
  font-size: 1rem;
}

.nextEvent {
  align-items: baseline;
  justify-content: space-evenly;
  display: flex;
  flex-direction: row;
  height: min-content;
  margin: 0 auto;

  min-width: 25rem;
  width: fit-content;
}
.pastEvent {
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  min-height: 3rem;
  width: fit-content;
  min-width: 25rem;
  opacity: 0.7;
  /* background-color: grey; */
}
